*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo img{
    border-radius: 10px;
width: 100px;
height: 100px;
    margin-left: 40px;
}

.all-content{
    height: 150px;
}
 .container-fluid{
    background-color: brown;
} 

.all-content .form input{
    margin-right: 100px;
    
}
.icon{
height: 75px;
display: flex;
padding: 25px;
margin-right: 500px;
align-items: end;
justify-items: end;
}

.container{
    display: flex;
    margin: 10px 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
   gap: 30px; 

}

.container .card{
    padding: 10px;
    margin: 10px 15px;
    display: flex;
}

.container .card img{
    height: 250px;
}

.img .carousel-item img{
    height: 550px;
}

#contact{
    border: 2px solid black;
    width: 650px;
    height: 350px;
    
}

#contact .heading span{
    color: solid red;

}

.heading {
border-bottom: 2px solid red;


}
.hr{
    color: black0;

}

/* .container2{ */
    display: flex;
    margin: 10px 15px;
    display: grid;
   
    grid-template-columns: auto auto auto auto;
   gap: 30px; 
  height: 200px;
   width: 250px;
}
