*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
nav{
    background-color: purple !important;
} */


ul{

    margin-left: 400px;

}

.carousel-item img{
    width: 100%;
    height: 400px;
}

.container-fluid{
    background-color: rgb(178, 226, 33);
}